In [26]:
import pandas as pd
import re

In [46]:
ls = ['무)삼성화재', '미래에셋(무배당)', '동부화재', '소망화재(무배당', '가나다라(무)']

In [47]:
df = pd.DataFrame(ls, columns=['ins_name'])

In [48]:
df

    ins_name
0     무)삼성화재
1  미래에셋(무배당)
2       동부화재
3   소망화재(무배당
4    가나다라(무)

In [49]:
df.ins_name = df.ins_name.map(lambda x: '무배당' + str(x) if '(무)' in x else x)
df.ins_name = df.ins_name.str.replace(r'\(\무\)', ' ')

In [51]:
df.ins_name = df.ins_name.map(lambda x: '무배당' + str(x) if '(무배당)' in x else x)
df.ins_name = df.ins_name.str.replace(r'\(\무배당\)', ' ')

In [53]:
df.ins_name = df.ins_name.map(lambda x: '무배당' + str(x) if '(무배당' in x else x)
df.ins_name = df.ins_name.str.replace(r'\(\무배당', ' ')

In [55]:
df.ins_name = df.ins_name.map(lambda x: '무배당' + str(x) if '무)' in x else x)
df.ins_name = df.ins_name.str.replace(r'\무\)', ' ')

In [56]:
df

   ins_name
0  무배당 삼성화재
1  무배당미래에셋
2      동부화재
3  무배당소망화재
4  무배당가나다라

In [57]:
df['ins_code'] = [1,2,3,4,5]

In [58]:
df

   ins_name  ins_code
0  무배당 삼성화재         1
1  무배당미래에셋          2
2      동부화재         3
3  무배당소망화재          4
4  무배당가나다라          5

In [69]:
for index, row in df.iterrows():
    print(row.ins_name)

무배당 삼성화재
무배당미래에셋
동부화재
무배당소망화재
무배당가나다라

In [ ]:
conn =
cursor = conn.cursor()

for index, row in df.iterrows:
    cursor.execute("insert into tb")

In [ ]:
# spark 에서
df.write.saveAsTable("tb_df")
df.write.mode(SaveMode.Overwrite).saveAsTable('tb_df')

In [ ]:
# spark 에서 2
df.createOrReplaceTempView('mytempTable')
sqlContext.sql("create table mytable as select * from mytempTable")

In [ ]:
"insert into tb_df select * from df"

In [ ]:
LOAD DATA LOCAL INPATH 'filepath' INTO TABLE tb_df