In [1]:
import pandas as pd
import re

In [2]:
df = pd.DataFrame(columns =['INSC_KND_CD', 'INSC_PRD_NM'])
df

Empty DataFrame
Columns: [INSC_KND_CD, INSC_PRD_NM]
Index: []

In [18]:
df.INSC_KND_CD = [1,2,3,4,5]

In [19]:
df.INSC_PRD_NM = ['(무)삼성화재  다이렉트  종신보험 (1567.8) 12', '무배당 (123.45)', '종합건강', '어린이보험',
                 '(무) NEW 보험3(s09123)']

In [20]:
df

   INSC_KND_CD                      INSC_PRD_NM    NEW
0            1  (무)삼성화재  다이렉트  종신보험 (1567.8) 12     12
1            2                     무배당 (123.45)   무배당
2            3                             종합건강   종합건강
3            4                            어린이보험  어린이보험
4            5              (무) NEW 보험3(s09123)

In [21]:
# 다중 공백 제거 함수 적용
def split_join(x):
    return ' '.join(x.split())

df['NEW'] = df['INSC_PRD_NM'].apply(split_join)

In [26]:
# (문자) 제거
df['NEW'] = df['NEW'].str.replace(r'[.]','' )
df

   INSC_KND_CD                      INSC_PRD_NM                NEW
0            1  (무)삼성화재  다이렉트  종신보험 (1567.8) 12  삼성화재 다이렉트 종신보험 8
1            2                     무배당 (123.45)               무배당
2            3                             종합건강               종합건강
3            4                            어린이보험              어린이보험
4            5              (무) NEW 보험3(s09123)           NEW 보험3s