In [3]:
import pandas as pd
import re

In [172]:
df = pd.DataFrame((' 무배당 삼성화재 통합보험 수퍼플러스_(1160', '무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트','( 무 )건강보험_ NEW 보험', '無  장기보험'))

In [173]:
df.columns = ['name']

In [174]:
df['group'] = df.name
df

                           name                         group
0     무배당 삼성화재 통합보험 수퍼플러스_(1160     무배당 삼성화재 통합보험 수퍼플러스_(1160
1  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트
2             ( 무 )건강보험_ NEW 보험             ( 무 )건강보험_ NEW 보험
3                       無  장기보험                       無  장기보험

In [175]:
# 공백 제거
df.group = df.group.map(lambda x: re.sub(r'\s', "", x))
df

                           name                   group
0     무배당 삼성화재 통합보험 수퍼플러스_(1160  무배당삼성화재통합보험수퍼플러스_(1160
1  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트  무배당[삼성-화재]건강보험새,시대건강파트
2             ( 무 )건강보험_ NEW 보험           (무)건강보험_NEW보험
3                       無  장기보험                   無장기보험

In [176]:
## 특수 문자 제거
df.group = df.group.map(lambda x: re.sub(r'[\-\[\]\(\)\_\,\+]', "", x))
df

                           name                 group
0     무배당 삼성화재 통합보험 수퍼플러스_(1160  무배당삼성화재통합보험수퍼플러스1160
1  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트    무배당삼성화재건강보험새시대건강파트
2             ( 무 )건강보험_ NEW 보험            무건강보험NEW보험
3                       無  장기보험                 無장기보험

In [177]:
dic ={'無':'무', 'NEW':'뉴', '무배당':'무'}

In [178]:
# 사전값 대체
for key,value in dic.items():
    df.group = df.group.map(lambda x: x.replace(key, value) )

In [179]:
df

                           name               group
0     무배당 삼성화재 통합보험 수퍼플러스_(1160  무삼성화재통합보험수퍼플러스1160
1  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트    무삼성화재건강보험새시대건강파트
2             ( 무 )건강보험_ NEW 보험            무건강보험뉴보험
3                       無  장기보험               무장기보험

In [180]:
# 대분류
class_list= ['무삼성화재통합보험수퍼플러스','무삼성화재건강보험','무건강보험','무장기보험']

In [181]:
df['group_1'] = df.group

In [182]:
df

                           name               group             group_1
0     무배당 삼성화재 통합보험 수퍼플러스_(1160  무삼성화재통합보험수퍼플러스1160  무삼성화재통합보험수퍼플러스1160
1  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트    무삼성화재건강보험새시대건강파트    무삼성화재건강보험새시대건강파트
2             ( 무 )건강보험_ NEW 보험            무건강보험뉴보험            무건강보험뉴보험
3                       無  장기보험               무장기보험               무장기보험

In [183]:
for k in class_list:
    df.group_1 = df.group_1.map(lambda x: k if x.startswith(k) else x)

In [184]:
df

                           name               group         group_1
0     무배당 삼성화재 통합보험 수퍼플러스_(1160  무삼성화재통합보험수퍼플러스1160  무삼성화재통합보험수퍼플러스
1  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트    무삼성화재건강보험새시대건강파트       무삼성화재건강보험
2             ( 무 )건강보험_ NEW 보험            무건강보험뉴보험           무건강보험
3                       無  장기보험               무장기보험           무장기보험

In [185]:
df['group_2'] = df.group

In [186]:
df

,name,group,group_1,group_2
0,무배당 삼성화재 통합보험 수퍼플러스_(1160,무삼성화재통합보험수퍼플러스1160,무삼성화재통합보험수퍼플러스,무삼성화재통합보험수퍼플러스1160
1,"무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트",무삼성화재건강보험새시대건강파트,무삼성화재건강보험,무삼성화재건강보험새시대건강파트
2,( 무 )건강보험_ NEW 보험,무건강보험뉴보험,무건강보험,무건강보험뉴보험
3,無 장기보험,무장기보험,무장기보험,무장기보험

In [187]:
df.group_2 = df.apply(lambda x: x.group.split(x.group_1)[1], axis = 1)

In [188]:
df

                           name               group         group_1  group_2
0     무배당 삼성화재 통합보험 수퍼플러스_(1160  무삼성화재통합보험수퍼플러스1160  무삼성화재통합보험수퍼플러스     1160
1  무배당 [ 삼성-화재 ] 건강보험 새,시대 건강파트    무삼성화재건강보험새시대건강파트       무삼성화재건강보험  새시대건강파트
2             ( 무 )건강보험_ NEW 보험            무건강보험뉴보험           무건강보험      뉴보험
3                       無  장기보험               무장기보험           무장기보험